# Server run
PORT=3000

# Connection database
DB_PORT=3310
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root123
DB_NAME=hunterNest

# Create database
MARIADB_ROOT_PASSWORD=root123
MARIADB_DATABASE=hunterNest

# Migrations
TYPEORM_ENTITIES=dist/**/*.entity.js

# Token
SECRET_KEY_AT='at-secret'
SECRET_KEY_RT='rt-secret'
SECRET_KEY_MT='mt-secret'
EXPIRES_IN_AT=15m
EXPIRES_IN_RT=7d
EXPIRES_IN_MT=15m

# Cors
CORS_CLIENTS_URL='http://localhost:3001'

# Email
EMAIL_USERNAME=admin123
EMAIL_PASSWORD=admin456
EMAIL_HOST=localhost
EMAIL_PORT=2500
EMAIL_FROM=admin@test.example.com
EMAIL_SECURE=false

#App URL
APP_URL=http://localhost:3000/